body
{
	margin: 0;
	padding: 0;
	cursor: url('./icons/navigation.svg'), auto;
}
.background
{
	background-image: url('back6b.jpg');
	background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    max-height: 999px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
}


				/*	<!---------------navigation bar--------------->*/
	
.navbar-toggler-icon
{
	color: white;
	background-color: white;
	background-image: url('./icons/menu.svg') !important;
}				
.top_nav
{
	background-color:   rgba(153, 153, 255, 0);
	margin-top: 0px;
}
a.navbar-brand
{
	color: white !important;
	font-size: 1.3em;
	margin-left: 15px;
	font-weight: 500;
	opacity: 0.7;
	font-family: 'Permanent Marker', cursive;
}
a.navbar-brand:hover
{
	opacity: 0.9;
}
.nav-item
{
	margin: 5px;
	padding: 5px;
}
.navbar-brand
{
	margin-left: 10px;
}
.navbar-toggler
{
	outline: none;
}
.top_nav
{
	position: sticky;
	top: 0;
	z-index: 1;
}
a
{
	color: white !important;
	opacity: 0.7;
	text-align: center;
	z-index: 10;
}
a:hover
{
	opacity: 0.9;
}

						/*<!----------------body------------------>*/


.parent 
{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 1fr 0.4fr repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	padding-top: 10vh; 
}

.bd_tlt 
{
 	grid-area: 1 / 1 / 2 / 7;
 	color: #000000e8;
 	opacity: 0.9;
 	display: flex;
	justify-content: center;
	align-items: center;
	padding-top:30px; 	
}
.body_title
{
	font-family: 'Permanent Marker', cursive;
	font-size: 4em !important;
	padding-bottom: 0px;
	padding: 25px;
	margin: 0;
	cursor: pointer;
	border-radius: 50px 20px;
	-webkit-box-shadow:4px 6px 40px 4px #000000;
	-moz-box-shadow:4px 6px 40px 4px #000000;
	-o-box-shadow:4px 6px 40px 4px #000000;
	-ms-box-shadow:4px 6px 40px 4px #000000;
	box-shadow:4px 6px 40px 4px #000000;

}
.quote 
{
	grid-area:  2 / 1 / 3 / 7;
	font-family: 'Comic Neue', cursive;
	font-size: 1em !important;
	margin-top: 0;
	padding-top: 0;
 	color: white;
 	opacity: 0.9;
 	display: flex;
	justify-content: center;
	margin: 5px;
    font-size: 1.2em !important;
}
.Coffee
{
	position: relative;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 6px;
}
.cat 
{
 	grid-area:  3 / 2 / 4 / 6; 
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;/*
    margin-left: 50px;*/
}
.grid
{
	display: grid;
	align-items: center;
	justify-content: center;
 	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
	padding-top: 10vh;
}
.img
{
	cursor:pointer;
	margin: 10px;
	min-height: 50px;
	min-width: 50px;
	opacity: 0.9;
}

#set
{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
/*	margin-bottom: 20px;
	margin-left: 20px;*/
	color: white !important;
	/*opacity: 0.6;*/
}

#set:hover
{
	/*opacity: 0.9;*/
}
section
{
	opacity: 0.6;
	color: rgba(255, 255, 255, 0.6);	
}
.toggle
{
	opacity: 1;
	color: rgba(255, 255, 255, 0.9);
	border-radius: 50%;
	-webkit-box-shadow:/*5px 3px 27px 2px #44CCD9;*/ 0px 0px 20px 0px #2bf0ff;
	-moz-box-shadow:/*5px 3px 27px 2px #44CCD9;*/ 0px 0px 20px 0px #2bf0ff;
	-o-box-shadow:/*5px 3px 27px 2px #44CCD9;*/ 0px 0px 20px 0px #2bf0ff;
	-ms-box-shadow:/*5px 3px 27px 2px #44CCD9;*/   0px 0px 20px 0px #2bf0ff;
	box-shadow: 0px 0px 20px 0px #2bf0ff;	
}
.des
{
	padding-left: 5px;
	cursor:pointer;
}



@media only screen and (max-width: 901px)
{
	.navbar
	{
		background-color:   rgba(153, 153, 255, 0);		
	}
	.grid
	{
		padding-top: 0vh;
	}
}

				




						/*media link*/


.container
{
	width: 60px;
	perspective: 1000px;
	border-radius: 10px;
}
.cube
{
	margin: auto;
	position: relative;
	width: 0px;
	height: 0px;
	cursor: pointer;
	transform-style: preserve-3d;
	transition: transform 2s ease;
}
.cube:hover
{
	transform: rotateX(180deg) rotateY(720deg) translateY(-40px);
}
.side
{
	position: absolute;
	width: 40px;
	height: 40px;
	text-align: center;
}
.side.back
{
	transform: translateZ(-20px) rotateX(180deg);
}
.side.left
{
	transform: translateX(-20px) rotateY(-90deg);
}
.side.right
{
	transform: translateX(-20px) rotateY(90deg);
}
.side.front
{
	transform: translateZ(20px);
}
.side.top
{
	transform: translateY(-20px) rotateX(90deg);
}
.side.bottom 
{
	transform: translateY(20px) rotateX(90deg);
}
.icon
{
	margin: 20% auto;
	vertical-align: middle;
	font-size: 84px;
}
.side.black
{
	color: #777;
	background-color: #0b1a40;
}
.side.facebook
{
	color: #fff;
	background-color: #3b5998;
}
.side.twitter
{
	color: #fff;
	background-color: #0084b4;
}
.side.linkedin
{
	color: #fff;
	background-color: #0E76A8;
}
.pos
{
    position: fixed;
    bottom: 22%;
    right: 50px;
}
.pos2
{
    position: fixed;
    bottom: 8%;
    right: 50px;
}
.pos3
{
	position: fixed;
    bottom: 15%;
    right: 50px;
}


 @media only screen and (max-width: 640px)
{
	.pos
	{
	    position: fixed;
	    bottom: 16%;
	    right: 50px;
	}
	.pos2
	{
	    position: fixed;
	    bottom: 8%;
	    right: 50px;
	}
	.pos3
	{
		position: fixed;
	    bottom: 11%;
	    right: 50px;
	}
}

					/*CUSTOM SCROLL BAR*/


/* width */
::-webkit-scrollbar 
{
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track 
{
  box-shadow: inset 0 0 20px 20px #98a2b8; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb 
{
  background: #6086b6; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover 
{
  background: #040d26; 
}
